<!DOCTYPE html>
{% extends "core/base.html" %}

{% block head_title_block %}
Home
{% endblock %}

{% block body_block %}

<h1>Página de Inicio</h1>
<div class="container">
    <a href="/formulario">Acceso a Formulario</a>
</div>
<div>
    <h2>Productos Disponibles:</h2>
    {% if productos %}
    <table>
        <thead>
            <th>Código</th>
            <th>Nombre</th>
            <th>Contenido</th>
            <th>Presentación</th>
            <th>Precio</th>
        </thead>
        {% for prod in productos %}
        <tr>
            <td>{{ prod.codigo }}</td>
            <td>{{ prod.nombre }}</td>
            <td>{{ prod.contenido }}</td>
            <td>{{ prod.presentacion }}</td>
            <td>{{ prod.precioVenta }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>¡¡¡No hay registros!!!</p>
    {% endif %}
</div>
{% endblock %}